*

# Keep those files.
!/.gitignore
!/.gitattributes
!/CMakeLists.txt
!/README.md

# Keep those directories.
!/include/
!/src/
!/external/
!/assets/

# Keep the content of those directories.
!/include/**
!/src/**
!/external/**
!/assets/**